EXPO_PUBLIC_SUPABASE_URL=https://dzezeuybcgwzdlgggcuz.supabase.co
EXPO_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable__Rl_OFnrx2139e0miUr3-Q_wflFm4Rx
# Expo adds this when the mobile project is linked to EAS.
EXPO_PUBLIC_EAS_PROJECT_ID=
